html,body{
    background: #2980B9;
    background: linear-gradient(to right, #dbdbdb, #6DD5FA, #2980B9);
    min-width: 400px;
}

#ville{
    text-transform: capitalize;
}

#temperature{
    font-size: 4em;
}

#changer{
    margin-left: 50%;
    background: rgba(178, 223, 251, .3);
    font-weight: bold;
    cursor: pointer;
}

.container{
    margin-top: 5%;
}